* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  min-height: 100vh;
  background: rgb(12, 0, 44);
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.bubbles {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.bubbles span {
  position: relative;
  width: 15px;
  height: 15px;
  background: rgb(16, 135, 243, 0.4);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgb(16, 135, 243, 0.4),
  0 0 25px rgb(16, 135, 243, 0.4),
  0 0 50px rgb(16, 135, 243, 0.4);
  /* transform: translateY(100vh) scale(0); */
  animation: bubbles 15s linear infinite;
  animation-duration: calc(1200s / var(--i));
}

.bubbles span:nth-child(even) {
  background: rgb(172, 67, 224, 0.4);
  box-shadow: 0 0 0 10px rgb(172, 67, 224, 0.4),
  0 0 25px rgb(172, 67, 224, 0.4),
  0 0 50px rgb(172, 67, 224, 0.4);
}

.eth {
 color: rgb(209, 233, 255);
}

.connectWalletBtn {
  position: fixed;
  right: 0;
  top: 0;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  border: none;
  margin: 20px;
  margin-top: 30px;
  transition: 0.2s ease;
  font-size: 14px;
  color: rgb(209, 233, 255);
  font-weight: bolder;
  background: linear-gradient(90deg, #1087F3 0%, #AC43E0 76%);
  animation: fade-slide-from-right ease 2.5s;
}

.connectWalletBtn:hover {
  /* color: rgba(255, 255, 255, 1); */
  box-shadow: 0 5px 15px rgba(202, 200, 204, 0.4);
}

.NFT {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  margin: 20px;
  background-image: url('../NFT.png');
  background-size: contain;
  animation: fade-slide-from-left ease 2.5s;
  transition: 0.3s ease;
}

.NFT:hover {
  background-image: url('../NFT2.png');
  transform: rotate(360deg);
}

.AboutImageContainer {
  position: fixed;
  top: 120px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  animation: aboutOnLoad ease 4s;
}

.AboutImage {
  width: 752px;
  height: 630.4px;
  border-radius: 5%;
  background-color: #242424;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s ease;
  border: solid 4px #898989;
  position: relative;
}

.aboutBtn {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background: rgb(172, 67, 224);
  color: rgb(209, 233, 255);
}
.aboutBtn * {
  height: 60px;
  width: 60px;
}
.aboutBtn:hover {
  box-shadow: 0 5px 15px rgba(202, 200, 204, 0.4);
}
.aboutBtnRight {
  right: -30px;
  top: calc(50% - 30px);
}
.aboutBtnLeft {
  left: -30px;
  top: calc(50% - 30px);
}
.hide {
  visibility: hidden;
}
.about1 {
  background-image: url('./about/images/About_Treasury_1.png');
}
.about2 {
  background-image: url('./about/images/About_Treasury_2.png');
}
.about3 {
  background-image: url('./about/images/About_Treasury_3a.png');
  animation: about3animation ease 4s;
}
@keyframes about3animation {
  0% {
    background-image: url('./about/images/About_Treasury_3.png');
  }
  50% {
    background-image: url('./about/images/About_Treasury_3.png');
  }
  100% {
    background-image: url('./about/images/About_Treasury_3a.png');
  }
}
.about4 {
  background-image: url('./about/images/About_Treasury_4a.png');
  animation: about4animation ease 3s;
}
@keyframes about4animation {
  0% {
    background-image: url('./about/images/About_Treasury_4.png');
  }
  80% {
    background-image: url('./about/images/About_Treasury_4.png');
  }
  100% {
    background-image: url('./about/images/About_Treasury_4a.png');
  }
}
.about5 {
  background-image: url('./about/images/About_Treasury_5a.png');
  animation: about5animation ease 3s;
}
@keyframes about5animation {
  0% {
    background-image: url('./about/images/About_Treasury_5.png');
  }
  50% {
    background-image: url('./about/images/About_Treasury_5.png');
  }
  100% {
    background-image: url('./about/images/About_Treasury_5a.png');
  }
}
.about6 {
  background-image: url('./about/images/About_Treasury_6a.png');
  animation: about6animation ease 3s;
}
@keyframes about6animation {
  0% {
    background-image: url('./about/images/About_Treasury_6.png');
  }
  60% {
    background-image: url('./about/images/About_Treasury_6.png');
  }
  100% {
    background-image: url('./about/images/About_Treasury_6a.png');
  }
}
.about7 {
  background-image: url('./about/images/About_Treasury_7c.png');
  animation: about7animation ease 5s;
}
@keyframes about7animation {
  0% {
    background-image: url('./about/images/About_Treasury_7.png');
  }
  40% {
    background-image: url('./about/images/About_Treasury_7.png');
  }
  60% {
    background-image: url('./about/images/About_Treasury_7a.png');
  }
  80% {
    background-image: url('./about/images/About_Treasury_7b.png');
  }
  100% {
    background-image: url('./about/images/About_Treasury_7c.png');
  }
}
.about8 {
  background-image: url('./about/images/About_Treasury_8i.png');
  animation: about8animation ease 13s;
}
@keyframes about8animation {
  0% {
    background-image: url('./about/images/About_Treasury_8.png');
  }
  10% {
    background-image: url('./about/images/About_Treasury_8.png');
  }
  20% {
    background-image: url('./about/images/About_Treasury_8b.png');
  }
  30% {
    background-image: url('./about/images/About_Treasury_8c.png');
  }
  40% {
    background-image: url('./about/images/About_Treasury_8d.png');
  }
  50% {
    background-image: url('./about/images/About_Treasury_8e.png');
  }
  60% {
    background-image: url('./about/images/About_Treasury_8f.png');
  }
  70% {
    background-image: url('./about/images/About_Treasury_8g.png');
  }
  80% {
    background-image: url('./about/images/About_Treasury_8h.png');
  }
  100% {
    background-image: url('./about/images/About_Treasury_8i.png');
  }
}
@media screen and (max-width: 850px) {
  .AboutImage {
    width: 564px;
    height: 472.8px;
  }
}
@media screen and (max-width: 600px) {
  .AboutImage {
    width: 376px;
    height: 315.2px;
  }
}
@media screen and (max-width: 420px) {
  .AboutImage {
    width: 347.8px;
    height: 291.56px;
  }
  .aboutBtnRight {
    right: 15%;
    top: 115%;
  }
  .aboutBtnLeft {
    left: 15%;
    top: 115%;
  }
}
@keyframes bubbles {
  100% {
    transform: translateY(100vh) scale(1)
  }
  0% {
    transform: translateY(-10vh) scale(0)
  }
}
@keyframes aboutOnLoad {
  0% {
    opacity: 0;
    transform: translateY(20vh);
  }
  60% {
    opacity: 0;
    transform: translateY(5vh);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-slide-from-right {
  0% {
    opacity: 0;
    transform: translateX(20vh);
  }
  40% {
    opacity: 0;
    transform: translateX(20vh);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-slide-from-left {
  0% {
    opacity: 0;
    transform: translateX(-20vh);
  }
  40% {
    opacity: 0;
    transform: translateX(-20vh);
  }
  100% {
    opacity: 1;
  }
}